<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    {% include "main.css" %}
  </style>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <link rel="alternate icon" href="/favicon.ico">
  <title>Song Sonar</title>
  {% block head %}{% endblock %}
</head>

<body>
  <div class="flex flex-wrap justify-center">
    <img src="/logo.svg" alt="Image of a submarine" class="logo" />
    <div class="content">
      {% block body %}{% endblock %}
    </div>
  </div>
  <div class="flex flex-col items-center mt-16">
    <p>￮</p>
    <span class="text-small">
      Made by <a href="https://www.rafa.ee">Rafael</a> - 
      🦀 <a href="https://github.com/raffomania/songsonar"> Source code</a> - 
      <a href="/privacy">Privacy Policy</a>
    </span>
  </div>
</body>

</html>