{% extends "_base.html" %}

{% block body %}
<h2>Your Song Sonar is ready to go!</h2>
<p>
    Look for the "Song Sonar" playlist in your library. It might take a few minutes to fill up with songs.
</p>
<p>
    If you haven't already, start following some artists to fill your playlist with! (If you don't follow many artists,
    your playlist might still be empty until next friday.)
</p>
<p>
    Should you ever want to stop receiving updates, simply delete the playlist using your spotify app.
</p>

{% block debug %}{% endblock %}
{% endblock %}