{% extends "_base.html" %}

{% block body %}
<h1>Privacy Policy</h1>

<p>
    In the following, we'll explain the kinds of personal information we store, why we store them and how we protect your data.
</p>

<h2>Your Spotify ID</h2>

<p>
    When you connect Song Sonar with Spotify, we receive your Spotify ID (sometimes called "username" as well). We store and use this ID to create and update your Song Sonar playlist. We do not send your Spotify ID to any third parties.
</p>

<p>
    If you delete your Song Sonar playlist, we will automatically delete all your personal information within one week. As long as your Song Sonar playlist exists and you have not requested the deletion of your personal data, we will store your Spotify ID to keep updating your playlist.
</p>

<h2>How we protect your data</h2>

<p>
    All communication with you and the Spotify service is encrypted using state-of-the-art technology. We do not send any personal information to third parties. Our servers are regularly updated with the latest security patches.
</p>

<h2>Use of cookies</h2>

<p>
    We use cookies to keep you logged in after you connect Song Sonar with Spotify. 
    To do this, we store encrypted identification data in the cookie, allowing us to recognize whether you have already connected Song Sonar to your Spotify account when you visit songsonar.rocks.
    Cookies are encrypted using state-of-the-art technology and are automatically deleted by your browser after a week.
</p>

<h2>Requesting further information</h2>

<p>
    You can obtain a copy of your data, or have us delete all your personal information at any time. If you would like to do so, send an email to <a href="mailto:&#104;&#101;&#108;&#108;&#111;&#64;&#115;&#111;&#110;&#103;&#115;&#111;&#110;&#97;&#114;&#46;&#114;&#111;&#99;&#107;&#115;">&#104;&#101;&#108;&#108;&#111;&#64;&#115;&#111;&#110;&#103;&#115;&#111;&#110;&#97;&#114;&#46;&#114;&#111;&#99;&#107;&#115;</a>.
</p>

{% endblock %}